<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">
        body, html {
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: "微软雅黑";
        }

        #allmap {
            height: 100%;
            width: 100%;
        }

    </style>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=ozEocuiQoRSXHaNQkmA9CNdQUE8fBH5I"></script>
    <title>经纬度标注</title>
</head>
<body>
<div id="allmap"></div>
</body>
</html>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");
    map.centerAndZoom(new BMap.Point(116.331398, 39.897445), 11);
    map.enableScrollWheelZoom(true);


    function SquareOverlay(center, length, color) {
        this._center = center;
        this._length = length;
        this._color = color;
    }

    // 继承API的BMap.Overlay
    SquareOverlay.prototype = new BMap.Overlay();
    // 实现初始化方法
    SquareOverlay.prototype.initialize = function (map) {
        // 保存map对象实例
        this._map = map;
        // 创建div元素，作为自定义覆盖物的容器
        var div = document.createElement("div");
        div.style.position = "absolute";
        // 可以根据参数设置元素外观
        div.style.width = this._length + "px";
        div.style.height = this._length + "px";
        div.style.background = this._color;
        // 将div添加到覆盖物容器中
        map.getPanes().markerPane.appendChild(div);
        // 保存div实例
        this._div = div;
        // 需要将div元素作为方法的返回值，当调用该覆盖物的show、
        // hide方法，或者对覆盖物进行移除时，API都将操作此元素。
        return div;
    };
    // 实现绘制方法
    SquareOverlay.prototype.draw = function () {
        // 根据地理坐标转换为像素坐标，并设置给容器
        var position = this._map.pointToOverlayPixel(this._center);
        this._div.style.left = position.x - this._length / 2 + "px";
        this._div.style.top = position.y - this._length / 2 + "px";
    };
    $.get('get_points', function (points) {
        for (var i = 0; i < points.length; i++) {
            // 初始化位置
            var mpt = {lng: points[i]["x"], lat: points[i]["y"]};
            var mySquare = new SquareOverlay(mpt, 5, "red");
            map.addOverlay(mySquare);
        }
        $.get('get_points_b', function (points) {
        for (var i = 0; i < points.length; i++) {
            // 初始化位置
            var mpt = {lng: points[i]["x"], lat: points[i]["y"]};
            var mySquare = new SquareOverlay(mpt, 5, "blue");
            map.addOverlay(mySquare);
        }

    })
    })
    // 添加自定义覆盖物


</script>

